<footer class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5>NDSA</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/members/">Members</a>
          </li>
          <li>
            <a href="/calendar/">Calendar</a>
          </li>
          <li>
            <a href="/coordinating-committee/">Coordinating Committee</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5>Social</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#">Facebook</a>
          </li>
          <li>
            <a href="">Twitter</a>
          </li>
          <li>
            <a href="">Github</a>
          </li>
          <li>
            <a href="">Youtube</a>
          </li>
        </ul>
      </div>


      <div class="col-md-3 col-sm-6">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li>
            <a href="">Privacy Policy</a>
          </li>
          <li>
            <a href="">FAQ</a>
          </li>
          <li>
            <a href="">Terms and Conditions</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5>Contact</h5>
        <address>
          1707 L St. NW,<br>
          Suite 650 <br>
          Washington, DC 20036 <br>

          <abbr title="Phone">P:</abbr>  (202) 939-4750 <br>
          <abbr title="Email">E:</abbr> <a href="mailto:">foo@ndsa.org</a>
        </address>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="footer-alt">
          <p class="pull-right">
            2015 &copy; DLF
          </p>
          <p class="logo">
            <a href="http://diglib.org">NDSA</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/app.js"></script>
