<footer class="section bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <h5>NDSA</h5>
        <ul class="list-unstyled">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about/">About</a>
          </li>
          <li>
            <a href="/members/">Members</a>
          </li>
          <li>
            <a href="/calendar/">Calendar</a>
          </li>
          <li>
            <a href="/coordinating-committee/">Coordinating Committee</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5>Social</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://twitter.com/ndsa2">Twitter</a>
          </li>
          <li>
            <a href="https://itunes.apple.com/us/itunes-u/digital-preservation-webcasts/id386017836">iTunes</a>
          </li>
          <li>
            <a href="https://www.youtube.com/playlist?list=PLEA69BE43AA9F7E68&feature=plcp">Youtube</a>
          </li>
        </ul>
      </div>


      <div class="col-md-3 col-sm-6">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li>
            <a href="">Privacy Policy</a>
          </li>
          <li>
            <a href="/faq/">FAQ</a>
          </li>
          <li>
            <a href="">Terms and Conditions</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6">
        <h5>Contact</h5>
        <address>
          1707 L St. NW,<br>
          Suite 650 <br>
          Washington, DC 20036 <br>

          <abbr title="Phone">P:</abbr>  (202) 939-4750 <br>
          <abbr title="Email">E:</abbr> <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </address>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="footer-alt">
          <p class="pull-right">
            All content released under a <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">CC BY-SA 4.0 License</a>.
          </p>
          <p class="logo">
            <a href="http://diglib.org"><i class="icon-ndsa_logo"></i>NDSA</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{{ "/js/wow.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.sticky.js" | prepend: site.baseurl }}"></script>
{% for js in page.javascript %}
   <script src="{{ js }}"></script>
{% endfor %}
<script src="{{ "/js/app.js"| prepend: site.baseurl }}"></script>
