<div class="navbar navbar-custom sticky navbar-abs" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar">
        <i class="fa fa-bars"></i>
      </button>
            <a class="navbar-brand logo" href="/">
                <img alt="NDSA" class="ndsa_wordmark" src="{{ " /images/ndsa_wordmark.png " | prepend: site.baseurl }}">
            </a>
            <a class="navbar-brand logo dlf" href="http://diglib.org">
                <i class="icon-dlf-logo blue"></i><span>DLF</span>
                <!-- <img height="36" alt="DLF" src="{{ "/images/sponsors/dlf.png" | prepend: site.baseurl }}"> -->
            </a>
        </div>
        <!-- .navbar-header -->

        <!-- menu -->
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="/about/" data-toggle="dropdown">
            About <span class="caret"></span>
          </a>
                    <ul class="dropdown-menu arrow">
                        <li><a href="/about/">Overview</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/values/">Foundational Principles</a></li>
                        <li><a href="/leadership/">Leadership</a></li>
                        <li><a href="/faq/">FAQ</a></li>
                        <li><a href="/blog/">News</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/members/" data-toggle="dropdown">
                Membership
                <span class="caret"></span>
              </a>
                    <ul class="dropdown-menu">
                        <li><a href="/get-involved/">Join the NDSA</a></li>
                        <li><a href="/new-members/">New Member Orientation</a></li>
                        <li><a href="/members-list/">Members List<!-- and Map--></a></li>
                        <li><a href="/calendar/">Meeting Calendar</a></li>
                        <!-- <li><a href="/members">Overview</a></li>-->
                        <!-- <li role="separator" class="divider"></li>-->
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="/working-groups/" data-toggle="dropdown"><!--NDSA Groups-->Interest & Working Groups
                <span class="caret"></span>
              </a>
                    <ul class="dropdown-menu">
                        <li><a href="/working-groups/">Overview</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Interest Groups</li>
                        <li><a href="/working-groups/content/">Content</a></li>
                        <li><a href="/working-groups/infrastructure/">Infrastructure</a></li>
                        <li><a href="/working-groups/standards-and-practices/">Standards and Practices</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Active Working Groups</li>
                        <li><a href="/fixity/">Fixity</a></li>
                        <li><a href="/awards/">Innovation Awards</a></li>
                        <li><a href="/working-groups/levels-of-preservation/">Levels of Preservation</a></li>
                        <!-- <li><a href="/working-groups/XXXXXXXXX/">Outreach & Publications</a></li>-->
                        <li><a href="/working-groups/staffing/">Staffing Survey</a></li>
                        <li><a href="/working-groups/storage-survey/">Storage Survey</a></li>
                        <li><a href="/working-groups/content/">Web Archiving</a></li>
                        <!-- <li><a href="/national-agenda/">National Agenda</a></li>-->
                        <!-- <li><a href="/meetings/">Conference Program</a></li>-->
                  
                    </ul>
                    </li>
                   <li class="dropdown">
                    <a href="/" data-toggle="dropdown">
                  Publications
                  <span class="caret"></span>
                </a>
                    <ul class="dropdown-menu arrow">
                        <li><a href="/activities-overview">Overview</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/activities/levels-of-digital-preservation/">Levels of Preservation</a></li>
                        <li><a href="/national-agenda/">National Agenda</a></li>
                        
                        
                        <!--<li><a href="/blog">NDSA Blog</a></li>
                        <li><a href="https://osf.io/4d567/">NDSA OSF</a></li>
                        <li><a href="/activities/case-studies/">Case Studies</a></li>
                        <li><a href="/glossary">NDSA Glossary</a></li>
                        <li><a href="/publications">Other Surveys and Reports</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Major NDSA Publications</li>-->
                        <!--<li><a href="/experts-guide/">Experts Guide</a></li>-->
                        <!--<li><a href="https://wiki.diglib.org/NDSA:Main_Page">NDSA Wiki</a></li>-->
                    </ul>
                </li>
                   
                <li class="dropdown">
                    <a href="/meetings-and-events/" data-toggle="dropdown">
                Annual Conference
                <span class="caret"></span>
              </a>
                    <ul class="dropdown-menu arrow">
                        <!--<li><a href="/meetings-and-events/">Overview</a></li>
                        <li role="separator" class="divider"></li>-->
                        <li><a href="/meetings/">DigiPres Conference 2020</a></li>
                        <!--<li><a href="/XXXXXXX/">Past DigiPres Conference</a></li>-->
                        <!--<li><a href="/awards/">NDSA Award Ceremonies</a></li>
                        <li><a href="/calendar/">Meeting Calendar</a></li>-->
                    </ul>
                </li>
                
               <!-- <li class="dropdown">
                    <a href="/" data-toggle="dropdown">
                  Activities
                  <span class="caret"></span>
                </a>
                    <ul class="dropdown-menu arrow">
                        <li><a href="/activities-overview">Overview</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/blog">NDSA Blog</a></li>-->
                        <!--<li><a href="https://wiki.diglib.org/NDSA:Main_Page">NDSA Wiki</a></li>-->
                        <!--<li><a href="https://osf.io/4d567/">NDSA OSF</a></li>-->
                        <!--<li><a href="/experts-guide/">Experts Guide</a></li>-->
                        <!--<li><a href="/activities/case-studies/">Case Studies</a></li>
                        <li><a href="/glossary">NDSA Glossary</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Major NDSA Publications</li>
                        <li><a href="/national-agenda/">National Agenda</a></li>
                        <li><a href="/activities/levels-of-digital-preservation/">Levels of Preservation</a></li>
                        <li><a href="/publications">Other Surveys and Reports</a></li>
                    </ul>
                </li>-->
                
            
                
            </ul>
        </div>
        <!--/Menu -->


    </div>
</div>

<div class="clearfix"></div>
