<div class="navbar navbar-custom sticky navbar-abs" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbar">
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand logo" href="/">
        <i class="icon-ndsa_logo blue"></i><span>NDSA</span>
      </a>
      <a class="navbar-brand logo dlf" href="http://diglib.org">
        <i class="icon-dlf-logo blue"></i><span>DLF</span>
        <!-- <img height="36" alt="DLF" src="{{ "/images/sponsors/dlf.png" | prepend: site.baseurl }}"> -->
      </a>
    </div>
    <!-- .navbar-header -->

    <!-- menu -->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="/about/" data-toggle="dropdown">
            About <span class="caret"></span>
          </a>
          <ul class="dropdown-menu arrow">
            <li><a href="/about/">Overview</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/values/">Values</a></li>
            <li><a href="/coordinating-committee/">Leadership</a></li>
            <li><a href="/faq/">FAQ</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/members/" data-toggle="dropdown">
                Members
                <span class="caret"></span>
              </a>
            <ul class="dropdown-menu">
                <li><a href="/members">About Membership</a></li>
                <li><a href="/members-list/">List of Members</a></li>
                <li><a href="/get-involved/">Get Involved!</a></li>
                <li><a href="/new-members/">New Member Orientation</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/" data-toggle="dropdown">
                  Resources
                  <span class="caret"></span>
                </a>
            <ul class="dropdown-menu arrow">
              <li><a href="/national-agenda/">National Agenda</a></li>
              <li><a href="/activities/levels-of-digital-preservation/">Levels of Preservation</a></li>
              <li><a href="http://wiki.diglib.org/">NDSA Wiki</a></li>
              <li><a href="/experts-guide/">Experts Guide</a></li>
              <li><a href="/activities/case-studies/">Case Studies</a></li>
              <li><a href="http://dpoutreach.net">Digital Preservation in a Box</a></li>
              <li><a href="/glossary">Glossary</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Additional Reports, Surveys, Etc.</li>
              <li><a href="/publications">Publications</a></li>
            </ul>
          </li>
        <li class="dropdown">
          <a href="/activities/" data-toggle="dropdown">
                Activities
                <span class="caret"></span>
              </a>
          <ul class="dropdown-menu arrow">
            <li><a href="/activities/">Overview</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/meetings/">Meetings</a></li>
            <li><a href="/awards/">Awards</a></li>
            <li><a href="/calendar/">Calendar</a></li>
          </ul>
        </li>
            <li class="dropdown">
              <a href="/working-groups/" data-toggle="dropdown">Working Groups
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/working-groups/">Overview</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Working Groups</li>
                <li><a href="/working-groups/content/">Content</a></li>
                <li><a href="/working-groups/standards-and-practices/">Standards and Practices</a></li>
                <li><a href="/working-groups/infrastructure/">Infrastructure</a></li>
                <li><a href="/working-groups/innovation/">Innovation</a></li>
                <li><a href="/working-groups/outreach/">Outreach</a></li>
              </ul>
            </li>
      </ul>
    </div>
    <!--/Menu -->


  </div>
</div>

<div class="clearfix"></div>
