<div class="navbar navbar-custom sticky" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <i class="ion-navicon"></i>
      </button>
      <a class="navbar-brand logo" href="/"><i class="ion-social-buffer"></i> <span>NDSA</span></a>
    </div><!-- .navbar-header -->

    <!-- menu -->
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/about/">About</a>
        </li>
        <li>
          <a href="/members/">Members</a>
        </li>
        <li>
          <a href="/calendar/">Calendar</a>
        </li>
        <li>
          <a href="/coodinating-committee">Coordinating Committee</a>
        </li>
      </ul>
    </div>
    <!-- .menu -->
  </div>
</div>

<div class="clearfix"></div>
