<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@{{ site.twitter_username }}">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ page.url | prepend: site.url }}">
{% endif %}
<meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
{% if page.image %}
  <meta name="twitter:image:src" content="{{ page.image }}">
{% else %}
  <meta name="twitter:image:src" content="{{ "/images/sponsors/ndsa.png" | prepend: site.url }}">
{% endif %}
